.addCliente {
    padding: 0.5rem;
    position: absolute;
    top: -4rem;
    left: 93%;
    color: #5f1a1a;
}

.clientes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    background: #d3c4c4;
    margin: 1rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cliente {
    color: #FFFFFF;
    background: #5f1a1a;
    margin: 1rem;
    padding: 1rem;
    height: 33.33%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cliente__info {
    text-align: left;
}

.cliente__name {
    margin: 0.52rem;
}

.cliente__telefone {
    margin: 0.52rem;
}

.cliente__img {
    text-align: center;
    width: 100px;
    height: 100px;
}

/* .cliente__name {}

.cliente__telefone */