.cabecalho {
    display: flex;
    justify-content: center;     
    /* background: rgb(15, 13, 59); */
    background: #fce4fc;
    position: absolute;
    padding: 1.5rem 1.5rem;
    left: 23rem;
    height: 3vh;
    width: 77vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.menu {
    display: flex;

}

.menu__search {
    position: absolute;     
    margin-left: 5px;
    color: #000000;   
}

.menu__input {
    position: relative;
    margin: 0;
    height: 25px;
    width: 300px;
    justify-content: center;
    border: none;
    border-radius: 13px;
    text-align: center;

}