.userInfo {
    height: 90vh;
    text-transform: uppercase;
    position: relative;
    margin: 0;
}

.userInfo__pic {
    width: 200px;
    border-radius: 50%;
}

.userInfo__name {
    font-family: 'Titillium Web', sans-serif;
    color: #000000;
}
.userInfo__options {
    text-align: start;
    padding: 1.2rem;
    display: inline;


}

.userInfo__social-icon {
    list-style-type: none;
    color: #000000;
    display: inline;

}

.userInfo__social-item {
    margin-top: 30px;
}

.userInfo__social-value {
    text-align: center;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    position: absolute;
    color: #000000;

}